<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>IPv4 calculator</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer class="page-footer font-small primary-color-dark">
            <div class="footer-copyright text-center py-3">2020 by:
                <a href="https://pielatowski.pl/"> pielatowski.pl</a>
            </div>
        </footer>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
</html>